extends ../layout

block content 

    .content-form
        .box-multi-function
            .formulario
                h1 Actualizar Bicicleta
                form(action=`/bicynet/network/bicicleta/update/${bici.code}` method='post')
                    .grupo-formulario
                        .grupo
                            i.fas.fa-barcode
                            input#id.controlform(type='text' placeholder='Codigo' name='code' value=bici.code required='required')
                    .grupo-formulario
                        .grupo
                            i.fas.fa-fill-drip
                            input#color.controlform(type='text' placeholder='Color' name='Color' value=bici.color required='required')
                    .grupo-formulario
                        .grupo
                            i.fas.fa-bicycle
                            input#modelo.controlform(type='text' placeholder='Modelo' name='Modelo' value=bici.modelo required='required')
                    .grupo-formulario
                        .grupo
                            i.far.fa-compass
                            input#modelo.controlform(type='text' placeholder='Latitud' name='Lat' value=bici.ubicacion[0] required='required')
                    .grupo-formulario
                        .grupo
                            i.far.fa-compass.rot
                            input#modelo.controlform(type='text' placeholder='Longitud' name='Long' value=bici.ubicacion[1] required='required')
                    input(type='submit' value='Actualizar')
                .renovar.btn.btn-no-padding.btn-outline-danger
                    a.no-style-a.a-center(href='/bicynet/network/bicicletas') 
                        h5 Cancelar

    include ../footer

